<h1 class="main">Welcome to your climbing log!</h1>

<h3><br> Create an account and start logging your climbs today! <br><br> Track your logs! <br> See other people's climbs! <br> Leave comments on other people's logs!
<br><br> </h3>


<%= link_to :log_page, user_log_path(@user) if @user %>

<% unless current_user %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<% else %>
  <%= link_to "Logout", delete_user_session_path, method: :delete %>
<% end %>



<%= link_to :signup, signup_path if !@user %>

<%= link_to :login, login_path if !@user %>


