<h3 class="log"><%= form_for [@user, log] do |f| %>
<p>
  <%= f.label :log_date %><br>
  <%= f.text_field :log_date %>
 </p>
 <p>
  <%= f.label :log %><br>
  <%= f.text_area :content %>
 </p>
 <p>
  <%= f.label :number_of_attemps %><br>
  <%= f.text_field :num_of_attempts %>
 </p>


 <p>
  <%=f.fields_for :route, log.build_route do |route_fields| %>
    <p>
    <%= f.label :name %><br>
    <%= route_fields.text_field :name %>
    </p>
 <p>
    <%= f.label :location %><br>
    <%= route_fields.text_field :location %>
    </p>
 <p>
    <%= f.label :grade %><br>
    <%= route_fields.text_field :grade%>
    </p>
  <% end %>



    <%= f.submit button_name, class: "btn" %>
<% end %>
</h3>