<h1 class="log">Climbs</h1>

<h3 class="log"><br>Searh for logs!<%= form_tag user_logs_path(@user), method: "get" do %>
    <%= text_field_tag :query %>
    <%= submit_tag :search %>
<% end %><br>
</h3>







<h3 class="log"><div class="card"><div class="container"> <br><a href=logs/new>Add a climb log!</a>


         <table class="center">
        <thead>
          <tr>
              <th>Name</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>

        <tbody>
            <% if current_user == @user %>
                <% @logs.each do |r| %>
                    <tr>
                        <td><%= r.log_date %></td>
                        <td><%= link_to "View", user_log_path(@user, r) %></td>
                        <td><%= link_to "Edit", edit_user_log_path(@user, r) %></td>
                        <td><%= link_to "Delete", user_log_path(@user, r), method: "delete" %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    </div></div>
    </h3>

        
            
<%= link_to "Log out", delete_user_session_path, method: :delete %>