<h1 class="center">Log Page</h1>
<h3>Route: <%= link_to @log.route.name, route_path(:route_id) if @log.route %>
<%= @log.route.grade %> <%=  @log.route.location %>
</h3>

<h1><%= @log.log_date %></h1>
 
<p><%= @log.content %></p>

<p> <a href=logs/index>Back to home!</a></p>


Comments:
  <% @log.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>

<h1>Leave a reply!</h1>
<%= render partial: "comments/form", locals: {comment: @comment, button_name: "reply"} %>
