<h1 class="center">Welcome to your climbing app!</h1>

<h1><%= @log.log_date %></h1>
 
<h3>Route: <%= link_to @log.route.name, route_path(@log.route) if @log.route %></h3>
 
<p><%= @log.content %></p>


Comments:
  <% @log.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>

<h1>Leave a reply!</h1>
<%= render partial: "comments/form", locals: {comment: @comment, button_name: "reply"} %>
